*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-size: 30pxS;
}

.heading {
    font-style: italic;
    color: green;
    font-size: 1.5rem;
    border: 1px dashed red;
    padding: 1em;
    margin: 2em;
    padding-top: 2em;
    border-bottom: 2em;
    margin-top: 5em;
   
}
.text {
    color:blue;
    font-size: 24px;
    line-height:  140%;


}

.marked {
    color: red;
    font-weight: bold;
    font-weight: 300;
    text-decoration: underline;
    letter-spacing: 0.5em;

}
.text2 .marked {
    background-color: pink;
}
ol {
    list-style-type: disc;
    border: 1px dashed red;
    padding: 1em;
    margin: 2em;
    padding-top: 2em;
    border-bottom: 2em;
    margin-top: 5em;
}
ol li::before {
content: (number)
}
#red{
    color: red;
}
#orange{
    color: orange;
}
#coral{
    color: coral;
}
#yellow{
    color: yellow;
}
#darkorange{
    color: darkorange;
}